<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © {{ now.Format "2006"}} ❖ {{ .Site.Params.Author }}
    {{ end }}
    </p>
</footer>
