<!DOCTYPE html>
<head>
<title>{{.Doc.title}}</title>
<style type="text/css">
    img { width: 100%; }
    html { width: 70%; margin: 0 auto; line-height:1.6; font-size:18px; color:#444; background-color: #EEE; }
</style>
</head>
<body>
<h1>{{.Doc.title}}</h1>
{{.Doc.body}}
<footer>
<hr>
<p><a href="/">Home page</a>
<h3>Index</h3>
<ol>
<li><a href="1-to-tokyo">Seattle to Tokyo</a>
<li><a href="2-akihabara">Akihabara</a>
<li><a href="3-shopping">Shopping</a>
<li><a href="4-food">Food</a>
<li><a href="5-arcade">Arcade</a>
<li><a href="6-ueno">Ueno</a>
<li><a href="7-train">Trains</a>
<li><a href="8-kyoto">Kyoto</a>
<li><a href="9-nijo">Nijo-jo</a>
<li><a href="10-miyajima">Miyajima</a>
<li><a href="11-summary">Summary</a>
</ol>
<p>All text and images &copy; 2018 Kyle Wilcox. Please do not re-use without permission.
</footer>
</body>
</html>
